@{
    ViewBag.Title = "ALUMaT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is all you need to know about ALUMaT............ so don't bother reading any further okay....... : ) </p>